{% extends "../common/base.html" %}

{% set hasNavbar = true %}
{% set hasFooter = false %}
{% set isManage = true %}
{% set isLogined = true %}

<test>
  {% set newsList = [
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: true},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: true},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false},
  {id: 1, title: '文化 | 文章标题sa柘城村奇才奇才奇才奇才柘城奇才奇才', date: '2021-02-12', is_pc: false}
  ]
  %}
</test>

{% block pageBody %}
<div class="manage navbar-gap list">
  <div class="list-tt">内容管理</div>
  <div class="list-bd">
    {% for item in newsList %}
    <div class="item">
      <div class="item-title">
        <b>{{item.title | safe}}</b>
        <i>2021-02-20</i>
      </div>
      {% if item.is_pc %}
      <div class="item-btn item-btn-pc">
        PC
      </div>
      {% else %}
      <div class="item-btn item-btn-del">
        <i class="icon icon-del"></i>
      </div>
      {% endif %}

    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}