{% extends "../common/base.html" %}

{% set hasSwiper = true %}
{% set hasNewsSwiper = true %}
{% set hasNavbar = true %}
{% set navIsAutoVisible = true %}

<test>
  {%
  set imgList = [
  {height: 330, link: '#', img: '/static/imgs/official/home_brand.jpg'},
  {height: 320, link: '#', img: '/static/imgs/official/home_service.jpg'},
  {height: 300, link: '#', img: '/static/imgs/official/home_partner.jpg'}
  ]
  %}

  {%
  set statsList = [
  {num: 8, corner: 'Year', desc: '2013年创办<br>8年感恩一路相伴'},
  {num: 800, corner: '+', desc: '超800个服务项目'},
  {num: 50, corner: '+', desc: '超50家长期品牌服务企业'}
  ]
  %}

  {%
  set articleList = [
  {date: '2021/02/12', cate: '案例', nickname:'Fengbox', title: '有科学家要求对新冠病毒起源做独立调查', link: '/news', img:
  '/static/imgs/official/0/photo.jpg', top: 1},
  {date: '2021/02/12', cate: '案例', nickname:'Fengbox', title: '有科学家要求对新冠病毒起源做独立调查', link: '/news', img:
  '/static/imgs/official/0/photo.jpg'},
  {
  isPhoto: true,
  date: '2021/02/12', cate: '案例', nickname:'Fengbox', title: '有科学家要求对新冠病毒起源做独立调查', link: '/news', img:
  '/static/imgs/official/0/photo.jpg'
  },
  {
  isPhoto: true,
  isVideo: true,
  date: '2021/02/12', cate: '案例', nickname:'Fengbox', title: '有科学家要求对新冠病毒起源做独立调查', link: '/news', img:
  '/static/imgs/official/0/photo.jpg'
  },
  {date: '2021/02/12', cate: '案例', nickname:'Fengbox', title: '有科学家要求对新冠病毒起源做独立调查', link: '/news', digest:
  '江启臣表示，毕竟两岸议题牵涉的层面复杂，需要有多层次方面的考量，但对于访陆都是持开放态度，“只要对台湾、对党有利，我觉得就想办法来做”。他也声称，国共的交流不会“为做而做”，但他的态度一直都是正面看待，“这倒没有一定什么时候，或以什么形势”，但双方一定要有共识才能办。'
  },
  {date: '2021/02/12', cate: '案例', nickname:'Fengbox', title: '有科学家要求对新冠病毒起源做独立调查', link: '/news', img:
  '/static/imgs/official/0/001_2.jpg'}
  ]
  %}

</test>

{% block pageBody %}

{% if imgList %}
<div class="home-imgs">
  {% for item in imgList %}
  <a href="{{item.link | safe}}" data-scroll-reveal>
    <img src="{{item.img | safe}}" />
  </a>
  {% endfor %}
</div>
{% endif %}

{% if statsList %}
<div class="home-stats" data-scroll-reveal>
  {% for item in statsList %}
  <div class="stats-item">
    <div class="stats-num">
      <b>{{item.num}}</b>
      <i>{{item.corner}}</i>
    </div>
    <div class="stats-desc">
      {{item.desc | safe}}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="article-list" id="newsList">
  {% for item in articleList %}
  {% if item.isPhoto %}
  <div class="photo-card" data-scroll-reveal>
    <img src="{{item.img | safe}}" />
    <div class="photo-title">
      {{item.title | safe}}
    </div>
    <div class="photo-icon">
      <i class="icon icon-{{'play' if item.isVideo else 'image'}}"></i>
    </div>
    <div class="photo-author">
      <div class="photo-name">
        <i class="icon icon-user"></i>
        <b>{{item.nickname | safe}}</b>
      </div>
      <div class="photo-date">
        {{item.date | safe}}
      </div>
    </div>
  </div>
  {% else %}
  <div class="article-card" data-scroll-reveal>
    <div class="article-info">
      <div class="article-info-icon">
        <div class="article-info-cate">
          {{item.cate | safe}}
        </div>
      </div>
      <div class="article-info-author">
        <div class="article-info-name">
          <i class="icon icon-user"></i>
          <b>{{item.nickname | safe}}</b>
        </div>
        <div class="article-info-date">
          {{item.date | safe}}
        </div>
      </div>
    </div>
    {% if item.img %}
    <div class="article-img">
      <img src="{{item.img | safe}}" />
      <div class="article-img-title">
        {{item.title | safe}}
      </div>
    </div>
    {% else %}
    <div class="article-text">
      <div class="article-text-title">
        {{item.title | safe}}
      </div>
      <div class="article-text-content">
        {{item.digest | safe}}
      </div>
    </div>
    {% endif %}
    {% if item.top %}
    <div class="article-top">TOP</div>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}