{% extends "../common/base.html" %}
<test>
  {% set navIndex = 0 %}
  {%
  set swiperList = [
  {date: '2021-02-15', cate: '新闻', link: '/news', img: '/static/imgs/official/0/001_1.jpg'},
  {date: '2021-03-15', cate: '案例', link: '/news', img: '/static/imgs/official/0/001_2.jpg'},
  {date: '2021-02-25', cate: '文化', link: '/news', img: '/static/imgs/official/0/001_3.jpg'},
  {date: '2021-12-05', cate: '员工', link: '/news', img: '/static/imgs/official/0/001_4.jpg'}
  ]
  %}
</test>

{% block pageBody %}

<div class="swiper-container home-swiper">
  <div class="swiper-wrapper">
    {% for item in swiperList %}
    <div class="swiper-slide">
      <img src="{{item.img | safe}}" />
      <div class="text">
        <div class="date">
          30<br>02<br>2020
        </div>
        <div class="cate">
          新闻
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>


{% endblock %}