@import '../_css/common.less';

.splash {
  position: relative;
  height: 100vh;

  .flexColumn();

  &-bd {
    flex: 1;
    .flex();
    padding: 100px 50px 50px 50px;
    img {
      width: 50%;
    }
  }
  &-btns {
    text-align: center;
    height: 200px;
  }
  &-enter {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 80px;
    line-height: 90px;
    border: 2px solid #333;
    border-radius: 40px;
    text-align: center;
    font-size: 50px;
    color: #333;
    font-family: 'enfont';
  }
  &-timer {
    font-size: 30px;
    color: #999;
    font-family: serif;
  }
}
