{% extends "../common/base.html" %}

<test>
  {% set navIndex = 4 %}
  {% set serviceList = [
  {title: '三大业务板块', img: '/static/v1img/service_outline.jpg'},
  {title: '市场提供物研究组', img: '/static/v1img/service_market.jpg', desc: '<p>无论何种考虑，都需要我们提炼品牌诉求，利用新的语言（包装、形象、卖点）讲好品牌故事。</p><p>通过线下物料、公众号、小程序、双微、抖音、软件等新手段，才能与消费者真正的沟通，证其认知品牌的好，接收我们的产品、购买并消费我们的产品，甚至帮我们宣传我们的产品。</p>' },
  {title: '融媒体分类情况', img: '/static/v1img/service_cate.jpg'},
  {title: '主要融媒体平台介绍', img: '/static/v1img/service_channel.jpg'}
  ] %}
</test>

{% block pageBody %}
<div class="container service">
  {% for item in serviceList %}
  {% if item.desc %}
  <div class="row service-item service-desc">
    <div class="col-md-8 service-desc-left">
      <h2>{{item.title}}</h2>
      <div class="service-desc-text">
        {{item.desc | safe}}
      </div>
    </div>
    <div class="col-md-4 service-desc-right">
      <img src="{{item.img}}" alt="{{item.title}}"/>
    </div>
  </div>
  {% else %}
  <div class="row service-item">
    <h2 class="col-md-12">{{item.title}}</h2>
    <div class="col-md-12">
      <img src="{{item.img}}" alt="{{item.title}}"/>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
