<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
  integrity="sha256-ecWZ3XYM7AwWIaGvSdmipJ2l1F4bN9RXW6zgpeAiZYI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-lazyload@1.9.7/jquery.lazyload.min.js"></script>
<script src="/static/libs/scrollreveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.2/dist/sweetalert.min.js"
  integrity="sha256-KsRuvuRtUVvobe66OFtOQfjP8WA2SzYsmm4VPfMnxms=" crossorigin="anonymous"></script>

{% if hasWechat or wechatShare %}
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% endif %}
<script src="//res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
<script src="/static/libs/layui/layui.all.js" charset="utf-8"></script>
{% if hasSwiper %}
<script src="https://cdn.jsdelivr.net/npm/swiper@6.4.15/swiper-bundle.min.js"
  integrity="sha256-wmKTB2rlSM0GFMWUbpwW80vXgQ/S9j3uqijfYc6TUik=" crossorigin="anonymous"></script>
{% endif %}

{% if hasFooter %}
{% block footerBlock %}
{% include './footer_bar.html' %}
{% endblock %}
{% endif %}

{{jsInject | safe}}
{{footerHTML | safe}}
<div class="hide">{{hideCode | safe}}</div>
</body>

</html>