<!DOCTYPE html>
<html lang="zh-CN">
<test>
  {% set iconfont = '//at.alicdn.com/t/font_2393995_9bj45xiq7jl.css' %}
</test>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="{{keywords}}">
  <meta name="description" content="{{description}}">
  <title>{{title}}</title>
  {% if ctx %}
  <meta name="{{ ctx.config('csrf.header_name') }}" content="{{ ctx[ctx.config('csrf.header_name')] }}">
  {% endif %}
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css"
    integrity="sha256-Ww++W3rXBfapN8SZitAvc9jw2Xb+Ixt0rvDsmWmQyTo=" crossorigin="anonymous">
  {% if hasSwiper %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@6.4.15/swiper-bundle.min.css"
    integrity="sha256-+aVbzIDW2LKBUpnFUBzdqo5fP2l8249c4ePpJAlxF7o=" crossorigin="anonymous">
  {% endif %}
  <link rel="stylesheet" href="{{ iconfont | safe}}">
  {% block headBlock %}
  {% endblock %}
  {{cssInject | safe}}
  {{headerHTML | safe}}
</head>

<body style="{{bodyStyle | safe}}" {{bodyDomProps | safe}}>
  <!-- <div class="root">{DEL_CLOSE_DIV}}</div> -->
  <div class="page">
    {{headerHTML | safe}}