<test>
  {%
  set swiperList = [
  {date: '30<i>/</i>02<i>/</i>2020', cate: '新闻', link: '/news', img: '/static/imgs/official/0/photo.jpg'},
  {date: '25<i>/</i>10<i>/</i>2020', cate: '案例', link: '/news', img: '/static/imgs/official/0/photo_1200.jpg'},
  {date: '29<i>/</i>02<i>/</i>2020', cate: '文化', link: '/news', img: '/static/imgs/official/0/001_3.jpg'},
  {date: '10<i>/</i>01<i>/</i>2020', cate: '员工', link: '/news', img: '/static/imgs/official/0/001_4.jpg'}
  ]
  %}

  {%
  set menuSubList = [
  {label: '新闻', link: ''},
  {label: '文化', link: ''},
  {label: '分享', link: ''},
  {label: '工作', link: ''},
  {label: '我们', link: ''},
  {label: '联系', link: ''},

  {label: '分享', link: ''},
  {label: '工作', link: ''},
  {label: '我们', link: ''},
  {label: '联系', link: ''},
  {label: '分享', link: ''},
  {label: '工作', link: ''},
  {label: '我们', link: ''},
  {label: '联系', link: ''},
  {label: '我们', link: ''},
  {label: '联系', link: ''},
  {label: '分享', link: ''},
  {label: '工作', link: ''},
  {label: '我们', link: ''},
  {label: '联系', link: ''},

  {label: '案例', link: ''},
  {label: '人才', link: ''}
  ]
  %}

  {%
  set menuSubList = [
  {label: '新闻', link: ''},
  {label: '文化', link: ''},
  {label: '分享', link: ''},
  {label: '工作', link: ''},
  {label: '我们', link: ''},
  {label: '联系', link: ''},
  {label: '案例', link: ''},
  {label: '人才', link: ''}
  ]
  %}

</test>

{% if hasNavbar %}
<div class="page-menu {{'auto-menu' if navIsAutoVisible else ''}}">
  <div class="page-menu-base">
    <div class="page-menu-logo">
      <i class="icon icon-lofo"></i>
    </div>
    <div class="page-menu-btns">
      <i class="icon icon-home" id="btnHome"></i>
      <i class="icon icon-news" id="btnNews"></i>
    </div>
  </div>
  <div class="page-menu-aside" id="aside">
    <div class="icon icon-arrow_bottom aside-pre" data-dist="-2000"></div>
    <div class="page-menu-items" id="asideItems">
      {% for item in menuSubList %}
      <div class="page-menu-item">{{ item.label }}</div>
      {% endfor %}
    </div>
    <div class="icon icon-arrow_bottom aside-next" data-dist="2000"></div>
  </div>
</div>
{% endif %}

{% if swiperList %}
<div class="swiper-container page-swiper">
  <div class="swiper-wrapper">
    {% for item in swiperList %}
    <div class="swiper-slide">
      <img class="swiper-lazy" data-src="{{item.img | safe}}" data-original="{{item.img | safe}}" />
      <div class="text">
        <div class="date">
          {{item.date | safe}}
        </div>
        <div class="cate">
          {{item.cate}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>
{% endif %}