{% extends "../common/base.html" %}

<test>
  {% set navIndex = 3 %}
  {%
  set prodList = [
  {title: '悠斯晶-yuskin', icon: '/static/v1img/yuskin_logo.png', icon_link: '#', img: '/static/v1img/yuskin_prod.jpg', link: '#', desc: '悠斯晶-yuskin日本国民洗护品牌，原装进口，滋润修复，适用于身体各个部位，各年龄层，悠斯A乳霜对肌肤粗焅，皲裂，冻疮有预防治疗效果。悠斯晶S乳霜为低刺激保湿性乳霜，适用于各类肤质人群，且婴儿的皮肤湿疹、红屁股、尿不疹了可用。'},
  {title: '每伴', reverse: true, icon: '/static/v1img/meiban_logo.png', icon_link: '#', img: '/static/v1img/meiban_prod.jpg', link: '#', desc: '每伴食品有限公司成立于1998年，专注于婴幼儿产品的研发和生产，“每伴清清宝”为国内婴幼儿产品的知名品牌。植物成分，值得信任，科学萃取，工艺精湛，品质保证，十余年来得到千万妈妈见证。每伴旗下拥有：清清宝、米粉等系列产品。销售网络覆盖300余地级市和余千县镇。每伴与您一起呵护宝宝的健康成长。'},
  {title: '悠斯晶-yuskin', icon: '/static/v1img/yuskin_logo.png', icon_link: '#', img: '/static/v1img/yuskin_prod.jpg', link: '#', desc: '悠斯晶-yuskin日本国民洗护品牌，原装进口，滋润修复，适用于身体各个部位，各年龄层，悠斯A乳霜对肌肤粗焅，皲裂，冻疮有预防治疗效果。悠斯晶S乳霜为低刺激保湿性乳霜，适用于各类肤质人群，且婴儿的皮肤湿疹、红屁股、尿不疹了可用。'},
  {title: '每伴', reverse: true, icon: '/static/v1img/meiban_logo.png', icon_link: '#', img: '/static/v1img/meiban_prod.jpg', link: '#', desc: '每伴食品有限公司成立于1998年，专注于婴幼儿产品的研发和生产，“每伴清清宝”为国内婴幼儿产品的知名品牌。植物成分，值得信任，科学萃取，工艺精湛，品质保证，十余年来得到千万妈妈见证。每伴旗下拥有：清清宝、米粉等系列产品。销售网络覆盖300余地级市和余千县镇。每伴与您一起呵护宝宝的健康成长。'}
  ]
  %}
</test>

{% block pageBody %}
<div class="container prod">
  {% for item in prodList %}
  <div class="row prod-item {{'prod-item-reverse' if item.reverse else ''}}">
    <div class="col-md-6 prod-item-info">
      <a href="{{item.icon_link | safe}}">
        <img src="{{item.icon | safe}}" alt="{{item.title}}"/>
      </a>
      <div class="prod-item-desc">
        {{item.desc | safe}}
      </div>
    </div>
    <div class="col-md-6 prod-item-img">
      <a href="{{item.link | safe}}">
        <img src="{{item.img | safe}}" alt="{{item.title}}"/>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
