{% extends "../common/base.html" %}

<test>
  {%
  set splash = {
  bgColor: '',
  img: '/static/imgs/web/splash_brand.png',
  times: 10,
  enter: '/home/index.html'
  }
  %}
</test>

{% block pageHeader %}
{% endblock %}

{% block pageBody %}
<div class="splash" style="background-color: {{splash.bgColor}};">
  <div class="splash-bd">
    <img src="{{splash.img}}" />
  </div>
  <div class="splash-btns">
    <a class="splash-enter" href="{{splash.enter | safe}}">Enter</a>
    <div class="splash-timer" data-times="{{splash.times}}" data-link="{{splash.enter | safe}}">{{splash.times}}S</div>
  </div>
</div>
{% endblock %}


{% block pageFooter %}
{% endblock %}