@import '../_css/common.less';
@import '../_css/video.less';
@import '../_css/audio.less';

.article {
  .detail {
    &-hd {
    }
    &-bd {
      padding: 40px;
    }
    &-title {
      font-size: 42px;
      line-height: 1.5;
      text-align: center;
      margin-top: 30px;
    }
    &-category {
      font-size: 30px;
      color: #aaa;
      text-align: center;
      padding-bottom: 40px;
    }
    &-icons {
      .flex();
      margin: 45px 0;

      li {
        .flex();
        margin-left: 50px;
        color: #aaa;

        .icon {
          font-size: 40px;
          margin-right: 5px;
        }
        b {
          font-size: 35px;
          font-family: enfont;
          height: 50px;
        }
      }
    }
    &-content {
      font-size: 32px;
      line-height: 1.8;
      text-indent: 2em;
      font-weight: 300;
    }

    &-swiper {
      width: 100%;
      height: 100vh;

      .swiper-slide {
        height: 100vh;
        overflow-y: scroll;
      }

      .btn-swiper-pre {
        border: 4px solid #ccc;
        color: #999;
        border-radius: 50px;
        width: 320px;
        padding: 10px 0;
        font-size: 30px;
        text-align: center;
        margin: 100px auto 10px auto;
        user-select: none;

        .flex();

        .icon {
          font-size: 40px;
          margin-right: 10px;
        }

        &:active {
          background-color: fade(#000, 0.3);
        }
      }
    }
  }
}

// --
.detail-image {
  .detail {
  }
}

.detail-audio {
  .detail {
    &-title {
      margin-top: 60px;
    }
    &-icons {
      margin-bottom: 0;
    }
  }
}
