@import '../_css/common.less';

.case {
  width: 520px;

  &-item {
    &-list {
      width: 100%;
      margin: 30px auto 40px auto;
    }
    margin-top: 30px;

    &-title {
      color: #555;
    }
    &-desc {
      font-size: 18px;
      color: #777;
    }
    .btn {
      margin: 10px 0;
      font-size: 30px;
      padding: 20px 0 10px 0;
      font-family: enfont;
      border-radius: 50px;
      background-color: #333;
      border-color: unset !important;
      &:hover,
      &:active {
        background-color: @_colorRed !important;
        border-color: unset !important;
      }
      &:disabled {
        background-color: #ccc;
        pointer-events: none;
      }
    }
  }
}
